---
import MainLayout from '../../layouts/MainLayout.astro';
import Button from '../../components/Button.astro';
import Link from '../../components/Link.astro';

export function getStaticPaths() {
  return [
    { params: { slug: 'bygge-tryghed' } },
    { params: { slug: 'mental-stimulering' } },
    { params: { slug: 'personlig-vejledning' } },
  ];
}
---

<MainLayout title="Hold side">
  <article>
    <h1>Hold side</h1>
    <Button>Klik!</Button>
    <p>Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
  </article>
</MainLayout>
