---
import Heading from "../Heading.astro";
import LinkButton from "../../components/Buttons__&_links/LinkButton.astro";
import Text from "../Text.astro";
const { traener, lokation, profil_img } = Astro.props;
---

<article
  class="grid max-w-40 gap-2 rounded-md border border-(--main-400) md:max-w-70 md:grid-cols-2 md:gap-4"
>
  <img
    src={profil_img}
    alt={traener}
    class="w-fill aspect-square h-auto object-cover object-[0%_20%] md:col-span-2"
  />
  <div class="px-2 md:pb-4 md:pl-4">
    <Heading htmlheading="h6" size="h6" font="display" weight="semibold">
      {traener}
    </Heading>
    <Text size="label_2" stylingclasses="tracking-wider">{lokation}</Text>
  </div>

  <div class="m-auto flex flex-wrap pb-2 whitespace-pre md:pr-2">
    <LinkButton color="outline" href="#" label="SE PROFIL" />
  </div>
</article>
