---
import Link from "../../components/Buttons__&_links/Link.astro";
const { traener, lokation, profil_img } = Astro.props;
---

<article
  class="grid max-w-40 gap-2 rounded-md border border-(--main-400) md:max-w-70 md:grid-cols-2 md:gap-4"
>
  <img
    src={profil_img}
    alt={traener}
    class="w-fill aspect-square h-auto object-cover object-[0%_20%] md:col-span-2"
  />
  <div class="px-2 md:pb-4 md:pl-4">
    <h6 class="">{traener}</h6>
    <p class="text-sixe-10) tracking-wider">{lokation}</p>
  </div>

  <div class="m-auto flex flex-wrap pb-2 whitespace-pre md:pr-2">
    <Link href="#" label="SE PROFIL" />
  </div>
</article>
