---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Forside">
  <article>
    <h1>Forside</h1>
    <Button>Klik!</Button>

    <a href="/komponentbibliotek">komponentbibliotek</a>
  </article>
</MainLayout>
