---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Buttons__&_links/Button.astro";
import Link from "../components/Buttons__&_links/Link.astro";
import Heading from "../components/Heading.astro";
---

<MainLayout title="Forside">
  <article>
    <Heading htmlheading="h1" size="h2" font="display" weight="bold">
      Forside
    </Heading>
    <Button>Klik!</Button>
    <Link stylingclasses="mt-4 !text-size-16">
      Link til <Link href="/komponentbibliotek">Komponentbibliotek</Link>
    </Link>
  </article>

  <p>
    Dette er en infoboks. Den kan bruges til at fremhæve vigtig information.
  </p>
</MainLayout>
