---
import MainLayout from "../layouts/MainLayout.astro";
import Infobox1 from "../components/infobox/Infobox_type1.astro";
import Infobox2 from "../components/infobox/Infobox_type2.astro";
import Infobox3 from "../components/infobox/Infobox_type3.astro";
import Infobox4 from "../components/infobox/Infobox_type4.astro";
import Infobox5 from "../components/infobox/Infobox_type5.astro";
import Infobox6 from "../components/infobox/Infobox_type6.astro";
import Check from "../assets/icon/check.svg";
import CheckI from "../assets/icon/check_inverse.svg";
import Cross from "../assets/icon/cross.svg";
import CrossI from "../assets/icon/cross_inverse.svg";
import Medal from "../assets/icon/medal.svg";
import Tid from "../assets/icon/tid.svg";
import Lokation from "../assets/icon/lokation.svg";
---

<MainLayout title="Infoboks">
  <section class="mx-auto w-[95cqw]">
    <h1>Infoboks sandbox</h1>
    <div class="flex flex-wrap gap-4">
      <!-- Infobox 1 -->
      <Infobox1>
        <Check slot="punkt" />
        <h6 slot="overskrift">Overskrift</h6>
      </Infobox1>

      <!-- Infobox 2 -->
      <Infobox2>
        <p slot="punkt">0.0</p>
        <h6 slot="overskrift">Overskrift</h6>
        <p slot="indhold">Tekst er her</p></Infobox2
      >

      <!-- Infobox 3 -->
      <Infobox3>
        <p slot="punkt">1.0</p>
        <h6 slot="overskrift">Overskrift</h6>
        <p slot="indhold">Tekst er her</p></Infobox3
      >

      <!-- Infobox 4 -->
      <Infobox4
        ><p slot="punkt"></p>
        <p slot="topskrift" class="text-size-10 font-semibold tracking-widest">
          Topskrift her
        </p>
        <h6 slot="overskrift">Overskrift</h6>
        <p slot="indhold">Tekst er her</p></Infobox4
      >

      <!-- Infobox 5 -->
      <Infobox5>
        <Cross slot="punkt" />
        <h6 slot="overskrift">Overskrift</h6>
        <ul
          slot="liste"
          class="[&_li]:text-size-10 md:[&_li]:text-size-15 [&_li]:my-2 [&_li]:flex [&_li]:gap-4 [&_li]:font-sans"
        >
          <li><CrossI class="size-6" /> Liste punkt her</li>
          <li><CrossI class="size-6" />Andet slags listepunkt her</li>
        </ul>
      </Infobox5>

      <Infobox5>
        <Check slot="punkt" />
        <h6 slot="overskrift">Overskrift</h6>
        <ul
          slot="liste"
          class="[&_li]:text-size-10 md:[&_li]:text-size-15 [&_li]:my-2 [&_li]:flex [&_li]:gap-4 [&_li]:font-sans"
        >
          <li><CheckI class="size-6" /> Liste punkt her</li>
          <li><CheckI class="size-6" />Andet slags listepunkt her</li>
        </ul>
      </Infobox5>

      <!-- Infobox 6 -->
      <Infobox6
        ><Medal slot="punkt" />
        <p slot="topskrift" class="text-size-10 font-semibold tracking-widest">
          Topskrift her
        </p>
        <h5 slot="overskrift_1">Overskrift 1</h5>
        <p slot="info_1">Info 1</p>
        <h5 slot="overskrift_2">Overskrift 2</h5>
        <p slot="info_2">Info 2</p>
        <h5 slot="overskrift_3">Overskrift 3</h5>
        <p slot="info_3">Info 3</p></Infobox6
      >
      <Infobox6
        ><Lokation slot="punkt" />
        <p slot="topskrift" class="text-size-10 font-semibold tracking-widest">
          Topskrift her
        </p>
        <h5 slot="overskrift_1">Overskrift 1</h5>
        <p slot="info_1">Info 1</p>
        <h5 slot="overskrift_2">Overskrift 2</h5>
        <p slot="info_2">Info 2</p>
        <h5 slot="overskrift_3">Overskrift 3</h5>
        <p slot="info_3">Info 3</p></Infobox6
      >
      <Infobox6
        ><Tid slot="punkt" />
        <p slot="topskrift" class="text-size-10 font-semibold tracking-widest">
          Topskrift her
        </p>
        <h5 slot="overskrift_1">Overskrift 1</h5>
        <p slot="info_1">Info 1</p>
        <h5 slot="overskrift_2">Overskrift 2</h5>
        <p slot="info_2">Info 2</p>
        <h5 slot="overskrift_3">Overskrift 3</h5>
        <p slot="info_3">Info 3</p></Infobox6
      >
    </div>
  </section>
</MainLayout>
