---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Buttons__&_links/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Nyhedsbrev">
  <article>
    <h1>Nyhedsbrev</h1>
    <Button>Klik!</Button>
    <p>
      Link til <Link href="https://www.kea.dk">En anden side</Link>
    </p>
  </article>
</MainLayout>
