---
import MainLayout from "../layouts/MainLayout.astro";

import ProfileCard from "../components/cards/ProfileCard.astro";
import Button from "../components/Buttons__&_links/Button.astro";
import Heading from "../components/Heading.astro";
import Link from "../components/Buttons__&_links/Link.astro";
import Text from "../components/Text.astro";
---

<MainLayout title="Om os">
  <article>
    <Heading
      htmlheading="h1"
      size="h2"
      font="display"
      weight="bold"
      stylingclasses="mb-6 !text-size-30"
    >
      Om os
    </Heading>
    <Button>Klik!</Button>

    <p>
      Link til <Link href="https://www.kea.dk" target="_blank"
        >En anden side</Link
      >
    </p>

    <Text stylingclasses="mt-4 !text-size-16">
      Link til <Link href="https://www.kea.dk">En anden side</Link>
    </Text>
  </article>

  <ProfileCard />
</MainLayout>
