<!-- ---
import MainLayout from "../layouts/MainLayout.astro";
<<<<<<< HEAD
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import ProfileCard from "../components/ProfileCard.astro";
---

<MainLayout title="Om os">
  <article>
    <Heading
      htmlheading="h1"
      size="h2"
      font="display"
      weight="bold"
      stylingclasses="mb-6 !text-size-30"
    >
      Om os
    </Heading>
    <Button>Klik!</Button>
<<<<<<< HEAD
    <p>
      Link til <Link href="https://www.kea.dk" target="_blank"
        >En anden side</Link
      >
    </p>
=======
    <Text stylingclasses="mt-4 !text-size-16">
      Link til <Link href="https://www.kea.dk">En anden side</Link>
    </Text>
>>>>>>> fix_buttons_links_heading_text
  </article>

  <HoldCard />
</MainLayout> -->
