---
const {link, text} = Astro.props;
---

<a href={link} class="w-fit h-fit bg-green-400 text-green-50
no-underline font-extrabold px-6 py-2 rounded-lg text-sm sm:text-lg
transition-colors duration-300 hover:bg-gray-500">
    {text}
</a>
