---
import Logo from "../assets/icon/snudeLogo.webp";
import InstaLogo from "../assets/icon/Instagram_Glyph_White.svg";
import FBLogo from "../assets/icon/Facebook_Logo_White.svg";
import LinkedInLogo from "../assets/icon/In-Bug_white.svg";
import { Image } from "astro:assets";
---

<footer
  class="mt-8 flex flex-col gap-4 bg-(--main-400) p-6 text-(--main-200) [&_a]:text-sm [&_a]:font-semibold [&_a]:no-underline [&_a]:hover:underline sm:[&_a]:text-lg"
>
  <div class="sm:flex sm:justify-between sm:gap-8">
    <h3 class="mt-5 text-(length:--heading-3-size) font-bold">
      Mindful<br />Dog<br />Academy
    </h3>

    <div class="mt-5 flex flex-col gap-4 sm:flex-row sm:gap-16">
      <div class="flex flex-col gap-4">
        <p class="text-xs font-thin">Kontakt</p>
        <div class="[&_p]:text-sm sm:[&_p]:text-lg">
          <p class="font-semibold">Mindful-Dog Hovedkontor</p>
          <p>Grace Hidalgo</p>
        </div>
        <p class="text-sm sm:text-lg">Tlf.: +45 29 60 55 39</p>
        <p class="text-sm sm:text-lg">E-mail: grace@mindful-dog.dk</p>
      </div>
      <div class="flex flex-col gap-4">
        <p class="text-xs font-thin">Information</p>
        <a href="" class="font-semibold">Salgs- og Handelsbetingelser</a>
        <a href="" class="font-semibold">Læs om Mindful-Dog Metoden</a>
      </div>
    </div>
  </div>

  <div
    class="grid grid-cols-4 place-items-center gap-4 sm:col-span-3 [&_span]:my-auto [&_span]:h-0.5 [&_span]:w-full [&_span]:bg-(--main-200) sm:[&_span]:h-1"
  >
    <span class="col-span-2"></span>
    <Image src={Logo} alt="Logo" class="h-auto w-4/5" />
    <span class="col-span-1"></span>
  </div>

  <div class="flex flex-wrap gap-4 sm:flex-nowrap sm:justify-between">
    <div class="flex gap-4 sm:order-2">
      <InstaLogo
        class="aspect-square h-auto w-[10vw] fill-(--main-200) sm:w-[5vw]"
      />
      <FBLogo
        class="aspect-square h-auto w-[10vw] fill-(--main-200) sm:w-[5vw]"
      />
      <LinkedInLogo
        class="aspect-square h-auto w-[10vw] fill-(--main-200) sm:w-[5vw]"
      />
    </div>
    <button
      class="h-fit w-[66vw] rounded-lg bg-(--main-200) px-6 py-2 font-extrabold text-(--main-400) transition-colors duration-150 hover:bg-(--main-500) sm:order-1 sm:col-start-1 sm:w-[33vw] sm:place-self-center sm:text-[2cqw]"
      >TILMELD NYHEDSBREV</button
    >
  </div>
</footer>
