---
import Logo from "../assets/icon/snudeLogo.webp";
import { Image } from "astro:assets";
---

<header class="sticky top-0 z-10 bg-(--neutral-100)">
  <nav
    class="m-auto mt-0 mb-8 flex w-[95cqw] grid-cols-5 items-center justify-between gap-4 p-4 text-center font-(--font-body) font-semibold md:grid"
  >
    <a href="/" class="h-auto w-fit"
      ><Image src={Logo} alt="Logo" class="h-auto w-18" /></a
    >
    <ul
      class="menu first hidden list-none gap-8 md:col-span-3 md:flex md:justify-between [&_li]:relative [&_li]:my-4 [&_li]:block [&_li]:text-2xl [&_li]:text-(--neutral-500) [&_li]:no-underline [&_li]:transition-colors [&_li]:duration-150 [&_li]:hover:text-(--accent-200) [&_li]:md:mx-auto [&_li]:md:text-base [&_li]:lg:my-0 [&_li]:lg:text-xl"
    >
      <li>
        <a href="/">FORSIDE</a>
      </li>
      <li>
        <a href="/Hold_oversigt">HOLD OVERSIGT</a>
      </li>
      <li>
        <a href="/Om_os">OM OS</a>
      </li>
      <li>
        <a href="/">BLOG</a>
      </li>
    </ul>
    <div class="menu second hidden md:block md:justify-self-end">
      <a
        href="/Bliv_instruktoer"
        class="rounded-md bg-(--neutral-500) px-2 py-1 text-2xl whitespace-nowrap text-(--neutral-200) no-underline transition-colors duration-150 hover:bg-(--accent-200) md:place-self-end md:text-right md:text-base lg:text-xl"
        >BLIV INSTRUKTØR</a
      >
    </div>
    <span class="menu mbg md:hidden"></span>
    <span class="menu mline md:hidden"></span>
    <div
      id="burger"
      class="rounded-5 relative z-10 mr-2 h-10 w-10 cursor-pointer md:hidden [&_span]:relative [&_span]:my-1.5 [&_span]:block [&_span]:h-1.5 [&_span]:w-full [&_span]:rounded-sm [&_span]:bg-(--neutral-500)"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</header>

<style>
  span {
    transition:
      transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      opacity 0.55s ease;
  }

  nav > #burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(0, -2px);
  }

  nav > #burger span:nth-child(1) {
    transform-origin: 0% 0%;
  }
  nav > #burger.active span:nth-child(2) {
    opacity: 0;
    transition: opacity 0.25s ease;
  }

  nav > #burger span:nth-child(2) {
    opacity: 1;
    transition: opacity 0.55s ease-in;
  }

  nav > #burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(0, 2px);
  }
  nav > #burger span:nth-child(3) {
    transform-origin: 0% 100%;
  }

  nav.active .menu.first {
    display: block;
    position: absolute;
    /* background-color: var(--neutral-100); */
    top: calc(var(--spacing) * 21);
    right: 0;
    width: 100%;
    z-index: 10;
    text-align: right;
    padding-right: calc(var(--spacing) * 4);
  }

  nav.active .menu.second {
    display: block;
    position: absolute;
    /* background-color: var(--neutral-100); */
    top: calc(var(--spacing) * 80);
    right: 0;
    width: 100%;
    z-index: 10;
    text-align: right;
    padding-right: calc(var(--spacing) * 4);
  }

  nav.active .menu.mbg {
    display: block;
    position: absolute;
    background-color: var(--neutral-100);
    width: 100%;
    height: 30vh;
    top: calc(var(--spacing) * 21);
    right: 0;
    width: 100%;
    z-index: 1;
    border-top: 2px solid var(--accent-300);
    /* border-bottom: 2px solid var(--accent-300); */
  }
  nav.active .menu.mline {
    display: block;
    position: absolute;
    background-color: var(--accent-300);
    width: 100%;
    height: calc(var(--spacing) * 0.5);
    top: calc(var(--spacing) * 74);
    right: 0;
    width: 100%;
    z-index: 10;
  }
</style>

<script src="../assets/js/burger.js"></script>
