---
import Logo from "../assets/svg/snudeLogo.svg"
---
<header class="sticky top-0 z-10">
  <nav class="flex justify-betweenitems-center font-bold w-[80cqw] gap-4 p-4 mt-0 m-auto mb-8">
    <a href="/"><Logo class="min-w-18 max-w-25 h-auto" /></a>
    <ul class="menu flex justify-between list-none w-1/2 sm:max-md:hidden">
      <li>
        <a href="/" class="no-underline relative inline-block text-2xl">FORSIDE</a>
      </li>
      <li>
        <a href="/Hold_oversigt" class="no-underline relative inline-block text-2xl">HOLD OVERSIGT</a>
      </li>
      <li>
        <a href="/Om_os" class="no-underline relative inline-block text-2xl">OM OS</a>
      </li>
      <li>
        <a href="/" class="no-underline relative inline-block text-2xl">BLOG</a>
      </li>
    </ul>
      <a href="/Bliv_instruktoer" class="menu no-underline text-2xl sm:max-md:hidden">BLIV INSTRUKTØR</a>
    <div id="burger" class="absolute top-30 right-30 w-30 h-30 rounded-5 cursor-pointer content-center md:hidden sm:max-md:block">
      <span class="block relative bg-red-600 w-8 h-1 rounded-1 mb-1 z-10"></span>
      <span class="block relative bg-red-600 w-8 h-1 rounded-1 mb-1 z-10"></span>
      <span class="block relative bg-red-600 w-8 h-1 rounded-1 mb-1 z-10"></span>
    </div>
  </nav>
</header>

<style>




  span {
    transition:
      transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      opacity 0.55s ease;
  }

  nav > #burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(0, -1px);
  }

  nav > #burger span:nth-child(1) {
    transform-origin: 0% 0%;
  }
  nav > #burger.active span:nth-child(2) {
    opacity: 0;
    transition: opacity 0.25s ease;
  }

  nav > #burger span:nth-child(2) {
    opacity: 1;
    transition: opacity 0.55s ease-in;
  }

  nav > #burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(0, 1px);
  }
  nav > #burger span:nth-child(3) {
    transform-origin: 0% 100%;
  }

  @media screen and (max-width: 975px) {
    nav.active .menu.first {
      display: block;
      position: absolute;
      background-color: blue;
      top: 90px;
      right: 0;
      width: 100%;
      z-index: 1;
      text-align: center;
    }
    nav.active .menu.second {
      display: block;
      position: absolute;
      background-color: blue;
      top: 165px;
      right: 0;
      width: 100%;
      z-index: 1;
      text-align: center;
    }
    nav.active .fill-animation > a {
      color: green
      display: block;
      width: 100%;
    }

  

  
    nav.active .fill-animation > a {
      color: transparent;
      background-image: linear-gradient(
        90deg,
        blue 50%,
        black 50%
      );
      background-position: -100%;
      background-size: 200% 100%;
      background-clip: text;
      -webkit-background-clip: text;
      transition: background-position 0.3s ease-in;
      animation-direction: alternate;
    }
    nav.active .fill-animation:hover > a {
      background-position: 0;
    }

    .menu {
      display: none;
    }

</style>

<script src="../assets/js/burger.js"></script>
