---
import Text from "./Text.astro";
import Brev from "../assets/icon/brev.svg";
import LinkButton from "./Buttons__&_links/LinkButton.astro";
---

<article class="mx-auto">
  <div class="my-1 flex gap-2">
    <div
      class="flex items-center gap-2 rounded-md border border-(--main-400) p-2"
    >
      <Brev class="size-4" />
      <Text
        size="p3"
        stylingclasses=" text-(--main-400) tracking-tighter w-[9.5em]"
        >grace@mindful-dog.dk</Text
      >
    </div>
    <LinkButton label="KONTAKT MAIL" stylingclasses="w-[10em]" href="mailto:grace@mindful-dog.dk"/>
  </div>
  <div class="my-4 flex gap-2">
    <div
      class="flex items-center gap-2 rounded-md border border-(--main-400) p-2"
    >
      <Brev class="size-4" />
      <Text
        size="p3"
        stylingclasses=" text-(--main-400) tracking-tighter w-[9.5em]"
        >+45 29 60 55 39</Text
      >
    </div>
    <LinkButton label="KONTAKT TLF." stylingclasses="w-[10em]" href="tel:+4529605539" />
  </div>
</article>
