---
import Button from "./Button.astro";
import Brev from "../assets/icon/brev.svg";
---

<article class="mx-auto my-4 flex gap-2">
  <div
    class="flex items-center gap-2 rounded-md border border-(--main-400) p-2"
  >
    <Brev class="size-4" />
    <input
      type="email"
      name="nyhedsbrev"
      id="nyhedsbrev"
      placeholder="mail@eksempel.dk"
      class="font-(family-name:var(--font-body)) w-[42cqw] max-w-[48ch] border-0 border-(--main-400) bg-transparent p-0 tracking-tighter text-(--main-400) outline-none placeholder:text-(--main-400)"
    />
  </div>
  <Button type="submit" variant="standard">TILMELD</Button>
</article>
