---
interface Props {
  punkt?: string;
}

const { punkt = "0" } = Astro.props as Props;
---

<div
  class="font-(font-family:var(--font-body)) text-size-20 flex aspect-square h-12 w-12 items-center justify-center rounded-sm bg-(--main-400) leading-(--text-size-20) text-(--text-inverse)"
>
  {punkt}
</div>
